[Unit]
Description=flask server

[Service]
WorkingDirectory=/home/debian/exercises/flask/server
ExecStart=/home/debian/exercises/flask/server/app5.py
SyslogIdentifier=flask

[Install]
WantedBy=multi-user.target
