
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[C]=gnome-terminal
Name[C]=Real-Time Audio Demo
Exec=exercises/node.js/realtime/audio.sh
Name=git Class
Icon=gnome-terminal
