body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 25px;
  max-width: 650px;
}

#slider1 { margin: 10px; width: 275px; 
	text-align:center; 
	position:relative;
	right: 0px;
	top:   0px;
}

#setup {
	font-size: 10px;
}
