body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 25px;
  max-width: 650px;
}

#slider1 { margin: 10px; width: 275px; 
	text-align:center; 
	position:relative;
	right: -250px;
	top:   -30px;
}

#setup {
	font-size: 10px;
}

.LED {
	display: inline-block;
	margin-left: 5px;
	height: 25px;
	width:  25px;
	border-radius: 100%;
	border: 2px solid red;
	background-color: #F78D8D;
	font-size: 12px;
	font-family: Courier;
}
