/*

	SPI1 .dts file from 
	http://hipstercircuits.com/enable-spi-with-device-tree-on-beaglebone-black-copy-paste/
	Conversion from SPI1 to SPI0 with hints from http://blog.inbedded.net/
*/

/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    /* identification */
    part-number = "BB-SPI0-01";

    /* version */
    version = "00A0";

    /* state the resources this cape uses */
    exclusive-use =
        /* the pin header uses */
        "P9.22",	/* spi0_sclk	*/
        "P9.21",	/* spi0_d0	*/
        "P9.18",	/* spi0_d1	*/
        "P9.17",	/* spi0_cs0	*/
        "spi0";

    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            pinctrl_spi0: pinctrl_spi0_pins {
                pinctrl-single,pins = <                                        
                    0x150 0x10	/* P9_22 = mcasp0_aclkx.spi0_sclk, OUTPUT_PULLUP | MODE0 */
                    0x154 0x30	/* P9_21 = mcasp0_fsx.spi0_d0,     INPUT_PULLUP  | MODE0 */
                    0x158 0x10	/* P9_18 = mcasp0_axr0.spi0_d1,    OUTPUT_PULLUP | MODE0 */
                    0x15c 0x10	/* P9_17 = mcasp0_ahclkr.spi0_cs0, OUTPUT_PULLUP | MODE0 */
                >;
            };
        };
    };


    fragment@1 {
        target = <&spi0>;
        __overlay__ {
            #address-cells	= <1>;
            #size-cells		= <0>;
            status		= "okay";
            pinctrl-names	= "default";
            pinctrl-0		= <&pinctrl_spi0>;    

            spi0_0{
                #address-cells	= <1>;
                #size-cells	= <0>;
                compatible	= "spidev";
                reg		= <0>;
                spi-max-frequency = <16000000>;
                spi-cpha;          
            };
            spi0_1{
                #address-cells	= <1>;
                #size-cells	= <0>;
                compatible	= "spidev";
                reg		= <1>;
                spi-max-frequency = <16000000>;
                // Mode 0 (CPOL = 0, CPHA = 0)
            };
        };
    };
};
