body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 25px;
  max-width: 650px;
}

#slider1 { margin: 10px; width: 230px; 
	text-align:center; 
	position:relative;
	right: 0px;
	top:   0px;
}

#setup {
	font-size: 10px;
}

.LED {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height: 25px;
	width:  25px;
	border-radius: 30%;
	font-size: 12px;
	font-family: Courier;
	border: 1px solid #eeeeee;
	background-color: #eeeeee;
}

.on {
	border: 1px solid #00ee00;
	background-color: green;

}

#i2cNum {
	text-align: right; 
	width:	3em;
}

#update {
	float: right;
	display: inline;
}

#RoseLogo {
	float:	right;
	width:	200px;
}

#addresses {
	float:	right;
}

#bottom {
	float:	left;
}

#signature {
	clear:	both;
}
