8a9,20
> config EXAMPLE
>   tristate "Enable Example"
>   default m
>   help
>     Enable example driver
> 
> config LPD8806
>   tristate "Enable LPD8806 LED light strand driver"
>   default m
>   help
>     SPI driver for the LPD8806 LED light strand from Adafruit
> 
