# /etc/udev/rules.d/86-remoteproc-noroot.rules
#
# ReWritten by: Mark A. Yoder
# Corrects sys remoteproc permissions on the BB so non-root users in the remoteproc 
# group can run the PRUs without sudo'ing
#
SUBSYSTEM=="remoteproc", ACTION=="add", \
        RUN+="/bin/chgrp -R remoteproc '/sys%p'", \
        RUN+="/bin/chmod -R g=u '/sys%p'", \
\
        RUN+="/bin/chgrp remoteproc /lib/firmware/am335x-pru0-fw", \
        RUN+="/bin/chgrp remoteproc /lib/firmware/am335x-pru1-fw", \
\
        RUN+="/bin/chgrp remoteproc /lib/firmware/am57xx-pru1_0-fw", \
        RUN+="/bin/chgrp remoteproc /lib/firmware/am57xx-pru1_1-fw", \
        RUN+="/bin/chgrp remoteproc /lib/firmware/am57xx-pru2_0-fw", \
        RUN+="/bin/chgrp remoteproc /lib/firmware/am57xx-pru2_1-fw", \
\
        RUN+="/bin/chmod g=u /lib/firmware/am335x-pru0-fw", \
        RUN+="/bin/chmod g=u /lib/firmware/am335x-pru1-fw", \
\
        RUN+="/bin/chmod g=u /lib/firmware/am57xx-pru1_0-fw", \
        RUN+="/bin/chmod g=u /lib/firmware/am57xx-pru1_1-fw", \
        RUN+="/bin/chmod g=u /lib/firmware/am57xx-pru2_0-fw", \
        RUN+="/bin/chmod g=u /lib/firmware/am57xx-pru2_1-fw"
